html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
}

/* HEADER */
#navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#navbar a {
    margin-right: 20px;
}


/* GOOGLE LOGO */
#main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    text-align: center;
}

/* SEARCH BAR */
#search-bar-container {
    text-align: center;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 30px;
    border: 2px solid #eeeeee;
    padding-left: 30px;
    padding-right: 30px;
}

#buttons {
    margin-top: 20px; 
    display: flex; 
    justify-content: center;

}

.button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgb(231,231,231);
    cursor: pointer;
}

#languages {
    text-align: center;
    margin-top: 20px;
}


/* Footer */

footer {
    background: #f2f2f2;
}

footer h4 {
    color: gray;
    font-size: 15px;
    line-height: 40px;
    font-weight: 400;
    padding-left: 30px;
    border: 1px solid #eee;
}

footer a {
    color: gray;
    display: inline-block;
    padding: 12px 11px;
    font-size: 14px;
}

.footer-links {
    border-top: 1px solid #ddd;
    display: flex;
}

.footer-left {
    padding-left: 20px;
    flex: 1;
}

.footer-right {
    padding-right: 20px;
}