body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#navbar a {
    margin-right: 20px;
}

#main {
    margin-top: 200px;
}

#logo {
    text-align: center;
}

#search-bar-container {
    text-align: center;
    margin-top: 20px;
}

#search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 50%;
    border-radius: 30px;
    border: 2px solid #eeeeee;
}

#buttons {
    margin-top: 20px; 
    display: flex; 
    justify-content: center;

}

.button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgb(231,231,231);
    cursor: pointer;
}

#languages {
    text-align: center;
    margin-top: 20px;
}